@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
  }
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
